.hero-wrap{
    background-image: url('../images/mcar-1.jpg');
}
.about-jpg{
    background-image: url('../images/avtosalon.jpg');
}

.ftco-intro-jpg{
    background-image: url('../images/bg_3.jpg');
}

/* .car-wrap .img{
    background-image: url('../../../static/carbook/images/');
} */
